@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.rs-theme-light,
:root {
  --rs-btn-primary-text: #fff !important;
  --rs-btn-primary-bg: #38a169 !important;
  --rs-bg-active: #01855c !important;
  --rs-picker-count-bg: #49d394 !important;
  --rs-checkbox-checked-bg: #49d394 !important;
  --rs-btn-primary-hover-bg: #01855c !important;
  --rs-picker-value: #000 !important;
  --rs-text-secondary: "black" !important;
}

.rs-theme-dark,
:root {
  --rs-btn-primary-text: #000 !important;
  --rs-btn-primary-bg: #9ae6b4 !important;
  --rs-bg-active: #49d394 !important;
  --rs-picker-count-bg: #01855c !important;
  --rs-checkbox-checked-bg: #01855c !important;
  --rs-btn-primary-hover-bg: #49d394 !important;
  --rs-picker-value: #fff !important;
  --rs-text-secondary: "white" !important;
}

.rs-picker-toggle-caret {
  color: var(--rs-text-secondary);
}

.rs-btn-primary {
  background-color: var(--rs-btn-primary-bg);
  color: var(--rs-btn-primary-text);
}

.rs-btn-primary:hover {
  background-color: var(--rs-bg-active);
}

.rs-input-group {
  --rs-input-focus-border: #d98f39;
  --rs-state-focus-shadow: #d98f39;
  --rs-border-primary: #d98f39;
  border: 2px solid var(--rs-border-primary);
}

.rs-btn-link {
  --rs-btn-link-text: #31a078;
  color: var(--rs-btn-link-text);
  background-color: transparent;
  border: none;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: var(--rs-picker-value);
}

.rs-picker-menu.rs-picker-check-menu {
  z-index: var(--chakra-zIndices-modal);
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  --rs-bg-active: #31a078;
  color: var(--rs-calendar-date-selected-text);
  background-color: var(--rs-bg-active);
  box-shadow: none;
}

.rs-calendar-table-cell-in-range:before {
  --rs-calendar-range-bg: rgb(49, 160, 120, 0.3);
  background-color: var(--rs-calendar-range-bg);
}

.rs-picker-date .rs-picker-toggle.rs-btn-xs .rs-picker-toggle-clean,
.rs-picker-daterange .rs-picker-toggle.rs-btn-xs .rs-picker-toggle-clean {
  display: none !important;
}

.rs-picker-default .rs-picker-toggle {
  border: none !important;
}

.rs-picker-toggle-active,
.rs-picker.rs-picker-focused {
  box-shadow: none !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar-track {
    background-color: #374151;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #657d74;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #31a078;
  }
}
